In [1]:
s1 = {1,2,3}
s2 = {2,3,4}

In [2]:
s1.intersection(s2)

{2, 3}

In [3]:
s1&s2

{2, 3}

In [4]:
s3 = {3, 4, 5}

In [5]:
s1&s2&s3

{3}

In [6]:
s1.union(s2)

{1, 2, 3, 4}

In [8]:
s1|s2|s3

{1, 2, 3, 4, 5}

In [9]:
# Disjointedness - is the intersection empty

In [10]:
s3 = {30,40,50}

In [15]:
s1.isdisjoint(s2) , len(s1&s2) ## can use either way

(False, 2)

In [14]:
s1.isdisjoint(s3), len(s1&s3)

(True, 0)

In [16]:
# empty sets are falsy
bool(set())

False

In [18]:
bool({3})

True

In [28]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [30]:
s1.difference(s2), s1-s2 # show elms of s1 removing comn to s2
# s1 - intersection

({1, 2, 3}, {1, 2, 3})

In [21]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [22]:
# symmetric diff

In [27]:
s1.symmetric_difference(s2)
# show elms of both removing comns
# union minus intersection

{1, 2, 3, 6, 7, 8}

In [26]:
s1^s2

{1, 2, 3, 6, 7, 8}

In [31]:
s1 = {1, 2, 3}
s2 = {1, 2, 3}
s3 = {1, 2, 3, 4}
s4 = {10, 20, 30}

In [32]:
s1.issubset(s2) # <=

True

In [33]:
s1.issuperset(s2) # >=

True

In [34]:
# becausee they are equal

In [35]:
s1.issuperset(s3)

False

In [37]:
s3.issuperset(s1) # >=

True

In [38]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1, id(s1))
s1 = s1 & s2
print(s1, id(s1))

{1, 2, 3} 2231700495720
{2, 3} 2231705661000

## Update operations

As you can see, we calculated the intersection of `s1` and `s2` and set `s1` to the result - but this means we ended up with a new object for `s1`.

We may want to **mutate** `s1` instead.
And the samew goes for the other operations mentioned above.

Python provides us a way to do this using both methods and equivalent operators:

* union updates: `s1.update(s2)` or `s1 |= s2`
* intersection updates: `s1.intersection_update(s2)` or `s1 &= s2`
* difference updates: `s1.difference_update(s2)` or `s1 -= s2`
* symm. diff. updates: `s1.symmetric_difference_update(s2)` or `s1 ^= s2`

Where might this be useful?
You're hopefully seeing a parallel between these set mutation operations and list mutation operations such as append and extend.

So the usefullness of mutating a set is no different than the usefullness of mutating a list.

There might be a reason you want to maintain the same object reference - maybe you are writing a function that needs to mutate some set that was passed as an argument.

Example 1
Suppose you are writing a function that needs to return all the words found in multiple strings, but with certain words removed (like 'the', 'and', etc).

You could take this approach:

In [39]:
def combine(string, target):
    target.update(string.split(' '))

In [40]:
def cleanup(combined):
    words = {'the', 'and', 'a', 'or', 'is', 'of'}
    combined -= words

In [41]:
result = set()
combine('lumberjacks sleep all night', result)
combine('the mistry of silly walks', result)
combine('this parrot is a late parrot', result)
cleanup(result)
print(result)

{'sleep', 'parrot', 'night', 'silly', 'all', 'late', 'this', 'mistry', 'lumberjacks', 'walks'}

You may find the above example a little contrived, so let's see another example which might actually prove more practical.

Suppose we have a program that fetches data from some API, database, whatever - and it retrieves a paged list of city names. We want our program to keep fetching data from the source until the source is exhausted, and filter out any cities we are not interested in from our final result.

To simulate the data source, let's do this:

In [45]:
def gen_read_data():
    yield ['Paris', 'Beijing', 'New York', 'London', 'Madrid', 'Mumbai']
    yield ['Hyderabad', 'New York', 'Milan', 'Phoenix', 'Berlin', 'Cairo']
    yield ['Stockholm', 'Cairo', 'Paris', 'Barcelona', 'San Francisco']

In [46]:
data = gen_read_data()

In [47]:
def filter_incoming(*cities, data_set):
    data_set.difference_update(cities)

In [48]:
result = set()
data = gen_read_data()
for page in data:
    result.update(page)
    filter_incoming('Paris', 'London', data_set=result)
print(result)

{'New York', 'Hyderabad', 'Milan', 'Barcelona', 'Mumbai', 'Cairo', 'Beijing', 'Madrid', 'San Francisco', 'Berlin', 'Stockholm', 'Phoenix'}