In [1]:
# d.update()
#using unpacking to update or copy a dictionary
# merging keeps the latest key value if two keys are the same.

In [2]:
d = {'a':1, 'b': 2, 'c': 10}

In [3]:
d['b'] = 100

In [4]:
d

{'a': 1, 'b': 100, 'c': 10}

In [5]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}

In [6]:
d1.update(d2)

In [7]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [8]:
d1.update(e = 50)

In [9]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 50}

In [10]:
d1.update(a = 22)

In [11]:
d1

{'a': 22, 'b': 2, 'c': 3, 'd': 4, 'e': 50}

In [12]:
d1.update([ ('z',33),('g',333)])

In [13]:
d1

{'a': 22, 'b': 2, 'c': 3, 'd': 4, 'e': 50, 'z': 33, 'g': 333}

In [17]:
d2.update( [(k,(k**2)) for k in range(4)])

In [18]:
d2

{'c': 3, 'd': 4, 0: 0, 1: 1, 2: 4, 3: 9}

In [19]:
d3 = {k:k**2 for k in range(4)}

In [20]:
d3

{0: 0, 1: 1, 2: 4, 3: 9}

In [25]:
## Unpacking
l1 = [1,2,3]
l2 = 'abc'
l12 = [*l1,*l2] # will be a tuple is used () insteas

In [26]:
l12

[1, 2, 3, 'a', 'b', 'c']

In [27]:
#for dict
d1 = {'a':22, 'b': 33}
d2 = {'c': 44, 'd': 55}

In [28]:
d12 = {**d1, **d2}

In [29]:
d12

{'a': 22, 'b': 33, 'c': 44, 'd': 55}

In [35]:
# when conlicting keys, will use the later added keys

In [32]:
d1 = {'a':22, 'b': 33}
d2 = {'b': 44, 'd': 55}

In [34]:
d12 = {**d1, **d2}
d12

{'a': 22, 'b': 44, 'd': 55}

In [36]:
## use as function args

In [37]:
def my_func(*, kw1,kw2,kw3):
    return kw1+kw2+kw3

In [42]:
d3 = {'kw1': 11, 'kw2':22, 'kw3':33}

In [43]:
my_func(**d3)

66

In [45]:
# copying using unpacking creates a shalllow copy

In [46]:
d1 = { 'a': 123, 'b': 345}

In [47]:
d2 = {**d1}

In [48]:
d2

{'a': 123, 'b': 345}

In [49]:
# now changing d2 will chng d1 as well
# only if the change is on mutable values

In [50]:

d2['a'] = 655

In [51]:
d2

{'a': 655, 'b': 345}

In [52]:
d1

{'a': 123, 'b': 345}

In [53]:
# only if the change is on mutable values

In [57]:
d2['c'] = [1,2,3]

In [58]:
d2

{'a': 655, 'b': 345, 'c': [1, 2, 3]}

In [59]:
d1

{'a': 123, 'b': 345}

In [61]:
d3 = {**d2}

In [62]:
d3

{'a': 655, 'b': 345, 'c': [1, 2, 3]}

In [63]:
d3['c'].append(5)

In [64]:
d3

{'a': 655, 'b': 345, 'c': [1, 2, 3, 5]}

In [65]:
d2

{'a': 655, 'b': 345, 'c': [1, 2, 3, 5]}

In [66]:
# only if the change is on mutable values, e.g. list